<html>
    <head>
        <title> Mi sitio!</title>
        <link rel="stylesheet" href="stylesheets/style.css">

    </head>
    <body>
        <header>
            <p>Mi sitio!</p>
            <nav>
                <ul>
                    <li>
                        <a href="/movies/create">
                            Crear Pelis
                        </a>
                        <a href="/movies">
                            Ver Pelis
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
    </body>
</html>